<!DOCTYPE html>
<html>
  <head>
    <title>La Collection Région</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="Author" content="Agence dunk!" />
    <meta name="description" content="Découvrez la collection région imaginée par vous"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link rel="shortcut icon" href="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632928016/lp_regions/favicon_c7m3qf_dp6vva.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e7caba4305.js" crossorigin="anonymous"></script>
    <!-- TAG COMMANDER START //-->
    <script type="text/javascript" src="https://cdn.tagcommander.com/1491/tc_LaboutiqueLaPoste_6.js"></script>
    <script type="text/javascript" src="https://cdn.tagcommander.com/1491/tc_LaboutiqueLaPoste_13.js"></script>
    <script type="text/javascript" src="https://cdn.tagcommander.com/1491/tc_LaboutiqueLaPoste_3.js"></script>
    <noscript><iframe src="//redirect1491.tagcommander.com/utils/noscript.php?id=6&amp;mode=iframe"></noscript>
    <noscript><iframe src="//redirect1491.tagcommander.com/utils/noscript.php?id=13&amp;mode=iframe"></noscript>
    <noscript><iframe src="//redirect1491.tagcommander.com/utils/noscript.php?id=3&amp;mode=iframe" width="1" height="1" rel="noindex,nofollow"></iframe></noscript>
    <link rel="stylesheet" href="https://use.typekit.net/fiy3qar.css">
    <!-- TAG COMMANDER END //-->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
